<form class="example-form" [formGroup]="accountForm" (submit)="saveChanges()">
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
               placeholder="Ex. pat@example.com">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname">
          @if (firstnameFormControl.hasError('required')) {
            <mat-error>First Name is <strong>required</strong></mat-error>
          }
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname">
        @if (lastnameFormControl.hasError('required')) {
            <mat-error>Last Name is <strong>required</strong></mat-error>
        }
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="address"></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco" formControlName="city">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="postalCode">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <section>
        <div class="example-button-row">
            <button type="button" mat-stroked-button (click)="cancelChanges()">Cancel</button>
        </div>
        <div class="example-button-row">
          <button type="submit" mat-flat-button [disabled]="accountForm.invalid">Save</button>
        </div>
      </section>
</form>